:root {

    --color-text2: #D4BEE4;
    --color-title2: #3B1E54;
    --color-subtitle2: #9B7EBD;
    --color-background-main2: #DFF2EB;
    --color-background-highlight: #C5705D;
    --color-white: #ffffff;
    --color-black: #000000;

    
  }
  /*
  var( --color-title);
  */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Nav Decoration*/

.nav{
    position: fixed;  
    top: 0;
    z-index: 1000; 
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #000;
    align-items: center;
    width: 100%;
}
.navbar {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.logo {
    width: 4rem;
    height: auto;
    
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
}

.navbar-menu li {
    display: inline;
}

.navbar-menu li a {
    color: var(--color-subtitle2);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-menu li a:hover {
    color: var(--color-background-highlight);
}

/*Inicio*/


.inicio h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
    position: relative;
}

.highlight {
    color: black    ;
}

.gradient-background-black{
    background: linear-gradient(
      300deg,
      #000000,  /* Azul oscuro */
      #1A1A1A,  /* Azul base */
      #333333,
      #4D4D4D
    );
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

.background-black{
    background-color: #000000;
}


/*About me*/

.gradient-background-blue {
    background: linear-gradient(
      300deg,
      #33425A,  /* Azul oscuro */
      #3B4D69,  /* Azul base */
      #425778,
      #4A628A,
      #5F7496,
      #7187A8,
      #8BA0C1
    );
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

  .gradient-background-purple{
    background: linear-gradient(
      300deg,
      #241136,
      #2B1540,
      #33194A,
      #3B1E54
    );
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }


  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

#about-me {
    width: 100%;
    height: auto;
    padding: 1vw;
    
}

.about-header {
    display: flex;
    align-items: flex-start;
    
}

.aboutme-image{
    width: 40%;
}

.profile-photo {
    width: 25vw; /* Tamaño relativo a la pantalla */
    max-width: 350px; /* Tamaño máximo en pantallas grandes */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 5px; /* Bordes suaves */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15); /* Sombra sutil */
    margin : 9vw 15vh;
    
}

.intro-text{
    width: 60%;
    margin: 3vw 6vw;
}

.introduction h2 {
    font-size: 0.75rem; /* Tamaño pequeño para subtítulo */
    font-family: 'Roboto', sans-serif;
    color: var( --color-subtitle2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    
}

.introduction p {
    font-family: 'Playfair Display', serif;
    font-size: 1.75rem; /* Título principal grande */
    font-weight: 500;
    line-height: 1.2;
    color: #C5CCD5;
}

.about-header-info{
    display: flex;
    justify-content: center;
}   

.about-header-info p {
    margin: 5vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.6;
    color: #C5CCD5; /* Cambia el color según tu diseño */
}

/*Experience*/

/* Sección de experiencia y educación */
.experience-education h2 {
    font-size: 2rem; /* Título de sección grande */
    font-weight: bold;
    margin-bottom: 1em;
    color: var(--color-subtitle2) ;
}

.experience-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #ddd; /* Línea inferior */
}

.experience-item h3 {
    font-size: 1.3rem; /* Nombre de institución o título de posición */
    font-weight: bold;
    color: var(--color-text2);
    font-style: italic;
    margin: 2% 0;
    
}

.experience-item-info-p{
    font-weight: bold;
}

.experience-item p {
    font-size: 1.3rem; /* Descripción o detalles de la posición */
    color: #C5CCD5;
    margin: 0.5em 0;
}

.date {
    font-size: 1.2rem; /* Fecha al lado derecho */
    color: #C5CCD5;
    white-space: nowrap;
    padding-top: 0.5em;
}

/*Proyect*/



.flexContainer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.myProjectsContainer{
    
    display: grid;
    width: 80%;
    grid-template-columns: 100%;
    grid-template-rows: 2fr 4fr 4fr 4fr 4fr;
}

.h2Proyect{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}

.project{
    display: flex;
    border-radius: 15px;
    margin-bottom: 40px;

}

.project1{
    background-color: var(--color-background-main2);
}

.project1 h3{
    color: #A99DC1;
}

.project1 h4{
    color: var(--color-subtitle2);
}

.project1 p{
    color: var(--color-white);
}


.projectName {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.projectTech {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10px;
}

.projectExplain {
    font-size: 16px;
    line-height: 1.6;
}

.projectImg{
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: end;
    
}
.projectInfo{
    height: 400px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.imgProyect{
    width: 80%;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.contenedorCentral{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10%;
}

/*
    --color-text: #DFF2EB;
    --color-title: #7AB2D3;
    --color-subtitle: #B9E5E8;
    --color-background-main: #4A628A;
    --color-text2: #3B1E54;
    --color-title2: #9B7EBD;
    --color-subtitle2: #D4BEE4;
    --color-background-main2: #DFF2EB;
    --color-background-highlight: #C5705D;

*/


/*Contact me*/

.flexContainerContactme{
    display: flex;
    width: 100%;
    justify-content: center;
    
}

.GridContainer{
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.InformationTitle{
    padding: 60px;
}

.containerContactMe {
    background-color: #6E5C84;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 450px;
    text-align: center;
}



.title_flex{
    display: flex;
    justify-content: center;
    color: #827299;
    font-size: 24px;
    font-weight: bold;
    padding:50px;

}
.InformationTitle{
    color: white;
}
.map-section{
    grid-column: span 2 ;
}


.form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.form-label {
    color: #3B1E54;
    font-size: 15px;
    text-align: left;
}

.form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #d1d5db;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #333;
}


/*Footer*/

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

footer .footer-content p {
    margin: 5px 0;
    color: #aaa;
}

footer .footer-content a {
    color: #aaa;
    text-decoration: none;
    font-weight: bold;
}

footer .footer-content a:hover {
    color: #fff;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #aaa;
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #fff;
}