
/*https://curriculumya.com/plantillas-curriculum-vitae/word */

.flex-container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.container{
    width: 90vh;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    
}


.container-main-img{
    background-color: blue;
    padding: 30px;
    
    

}
.imagen-circular {
    width: 200px; /* Ocupa el 100% del ancho del contenedor */
    height: 200px; /* Ocupa el 100% de la altura del contenedor */
    border-radius: 50%; /* Hace la imagen circular */
    object-fit: cover; /* Asegura que la imagen se ajuste al contenedor sin distorsión */
}

.container-main-aboutMe{
    background-color: blue;
    
}

.container-body-contacto{
    

}

.container-body-habilidades{
    

}

.container-body-idiomas{
   
}

.container-body-interes{
    
}

.container-body-experecenciaProfesional{
    grid-row: span 2;
}

.container-body-formacion{
    grid-row: span 2;
}
